.user-image {
  width: 2rem;
  margin-right: 1rem;
}

.user-list-items {
  max-height: 70vh;
  min-height: 0;
  overflow-y: auto;
}

.user-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon {
  font-size: 1rem;
  color: #346321;
  cursor: pointer;
  margin-left: 3px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
}
