<div class="title-container">
  <h4 class="mb-3  title">{{'search.title' | translate}}</h4>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" autocomplete="off" #searchInput placeholder="{{'search.name' | translate}}" ngModel name="search" aria-label="name" aria-describedby="button-search">
    <div class="input-group-append">
      <button class="btn btn-dark" type="button" id="button-search" [disabled]="!searchInput.value" (click)="search(searchInput)">{{'general.searchButton' | translate}}</button>
    </div>
</div>

<ul class="list-group user-list-items" *ngIf="searchResult.length !== 0">
  <li *ngFor="let user of searchResult" class="list-group-item user-list-item">
    <div class="user-info-container">
      <a [href]="user.html_url" target="_blank">
        <img [src]="user.avatar_url" class="rounded-circle user-image">
      </a>
      {{user.login}}
    </div>
    <div>
      <i *ngIf="!followingUsers.includes(user.login)" class="fas fa-user-plus user-icon" (click)="followUser(user)"></i>
      <i *ngIf="followingUsers.includes(user.login)" class="fas fa-user-friends user-icon"></i>
    </div>
  </li>
</ul>
