.title-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
}

.followers-content {
  justify-content: center;
}

.user-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-image {
  width: 2rem;
  margin-right: 1rem;
}
