<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand brand-container" href="#">
    <i class="fab fa-github-alt brand-icon"></i>
    <span>Git Profile</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/repositories']">{{'header.repositories' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects']">{{'header.projects' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/followers']">{{'header.followers' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/following']">{{'header.following' | translate}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 dropdown-form" *ngIf="!!user">
      <!--<a class="text-muted ml-2 my-2 my-sm-0" [href]="user.html_url" target="_blank">{{user.login}}</a>-->
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="user.avatar_url" class="rounded-circle user-image">
          {{user.login}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="https://portafolio-5974e.web.app/proyectos" target="_blank">
            <i class="far fa-id-card drop-icon"></i>
            <span>{{'header.personalSample' | translate}}</span>
          </a>
          <a class="dropdown-item" href="https://github.com/AdrianSalvador21" target="_blank">
            <i class="fab fa-github drop-icon"></i>
            <span>{{'header.githubProfile' | translate}}</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</nav>
