.drop-icon {
  margin-right: 1rem;
}

.user-image {
  width: 2rem;
  text-decoration: none;
}

.user-image:hover {
  text-decoration: none;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.dropdown-form {
  display: flex;
}

.dropdown-button {
  padding-left: 0 !important;
}
