<div class="row followers-content">
  <div class="col-12 col-md-5">
    <div class="title-container">
      <h4 class="mb-3  title">Siguiendo</h4>
    </div>
    <ul class="list-group following-users-list">
      <li *ngFor="let user of followingUsers; let i = index;" class="list-group-item user-list-item">
        <div class="user-info-container">
          <a [href]="user.html_url" target="_blank">
            <img [src]="user.avatar_url" class="rounded-circle user-image">
          </a>
          {{user.login}}
        </div>
        <i *ngIf="user.follow" class="fas fa-user-minus user-icon" (click)="unfollowUser(user.login, i)"></i>
        <i *ngIf="!user.follow" class="fas fa-user-plus user-icon-follow" (click)="followUser(user, i)"></i>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-5">
    <app-search-users #searchComponent (followUserEmitter)="addFollower($event)" [followingUsers]="followingUsersNames"></app-search-users>
  </div>
</div>
