.user-image {
  width: 2rem;
  margin-right: 1rem;
}

.user-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon {
  font-size: 1rem;
  color: #d86777;
  cursor: pointer;
}

.user-icon-follow {
  font-size: 1rem;
  color: #346321;
  cursor: pointer;
}

.following-users-list {
  margin-bottom: 1rem;
  max-height: 50vh;
  overflow-y: scroll;
}

.followers-content {
  justify-content: center;
}
