.repositories-container {
  display: flex;
  width: 100%;
}

.repository-link {
  color: #d86777;
  cursor: pointer;
}

.repository-link:hover {
  text-decoration: none;
}

.cards-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.card-content {
  width: 80%;
  margin: 0 1rem 1rem 1rem;
  border-radius: 1rem;
}


.check-container {
  margin-left: 1rem;
  width: 50%;
}


.check-global-container {
  width: 40%;
}

.filter-title {
  font-weight: 600;
}

.add-button-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/*@media only screen and (max-width: 1100px) {*/
  /*.card-content {*/
    /**/
  /*}*/
/*}*/

@media only screen and (min-width: 550px) {
  .card-content {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {
  .checks-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .check-global-container {
    width: 50%;
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 950px) {
  .checks-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (min-width: 1100px) {
  .card-content {
    width: 30%;
  }
}
