<!--<h2 class="mb-3 ml-2">Repositorios</h2>-->

<div class="title-container">
  <h4 class="mb-3 ml-2 title">{{'repositories.title' | translate}}</h4>
</div>

<div class="row" *ngIf="!!repositoriesToShow && !!languages">
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-5 col-xl-2 checks-container">
    <div class="mb-3 check-global-container">
      <div class="check-container">
        <p class="filter-title">{{'repositories.filter.type' | translate}}</p>
        <div class="custom-control custom-checkbox" *ngFor="let language of languages">
          <input (change)="changeLanguage()" type="checkbox" class="custom-control-input languages" [id]="language"
                 [value]="language">
          <label class="custom-control-label" [for]="language">{{language}}</label>
        </div>
      </div>
    </div>
    <div>
      <div class="check-container">
        <p class="filter-title">{{'repositories.filter.access' | translate}}</p>
        <div class="custom-control custom-checkbox">
          <input (change)="changePrivate()" type="checkbox" class="custom-control-input private" id="public">
          <label class="custom-control-label" for="public">{{'repositories.filter.public' | translate}}</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input (change)="changePrivate()" type="checkbox" class="custom-control-input private" id="private">
          <label class="custom-control-label" for="private">{{'repositories.filter.private' | translate}}</label>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 mt-3 col-sm-12 col-md-8 col-lg-9 col-xl-10 mt-3">
    <div class="add-button-container">
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addModal">{{'general.addRepository' | translate}}</button>
    </div>
    <div class="animated fadeIn fast cards-container">
      <div class="card card-content" *ngFor="let repo of repositoriesToShow">
        <div class="card-body">
          <a class="my-2 my-sm-0 card-title repository-link" [href]="repo.html_url"
             target="_blank">{{repo.name | uppercase}}</a>
          <p class="card-text" *ngIf="!repo.private">{{'repositories.publicAccess' | translate}}</p>
          <p class="card-text" *ngIf="repo.private">{{'repositories.privateAccess' | translate}}</p>
          <p class="card-text">{{repo.description}}</p>
          <p class="card-text">{{repo.language}}</p>
        </div>
      </div>
    </div>

    <div class="paginator-container">
      <app-paginator (changePageEmitter)="changePage($event)" [selectedPage]="selectedPage" [elements]="50"></app-paginator>
    </div>
  </div>
</div>




<!--MODAL-->
<div class="modal fade" id="addModal" #childModal tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title" id="addModalLabel">
          {{'repositories.createRepository.create' | translate}}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="filterForm" #form="ngForm">
          <div class="form-group">
            <label for="name-control">{{'repositories.createRepository.repositoryName' | translate}}</label>
            <input type="text"
                   autocomplete="off"
                   class="form-control"
                   id="name-control"
                   formControlName="name"
                   aria-describedby="name-control-help"
                   placeholder="{{'repositories.createRepository.name' | translate}}">
            <small id="name-control-help" class="form-text text-muted">
              {{'repositories.createRepository.namesHelp' | translate}}</small>
          </div>
          <div class="form-group">
            <label for="description-control">{{'repositories.createRepository.descriptionTitle' | translate}}</label>
            <input type="text"
                   autocomplete="off"
                   class="form-control"
                   formControlName="description"
                   id="description-control"
                   placeholder="{{'repositories.createRepository.description' | translate}}">
          </div>

          <div class="form-check">
            <input type="checkbox" formControlName="private" class="form-check-input" id="private-control">
            <label class="form-check-label" for="private-control">{{'repositories.createRepository.privateRepository' | translate}}</label>
          </div>
        </form>

        <div class="fa-3x spinner-container" *ngIf="creatingRepository">
          <i class="fas fa-spinner fa-pulse spinner-icon"></i>
        </div>

        <div class="alert alert-danger error-dialog" role="alert" *ngIf="error">
          {{'repositories.createRepository.error' | translate}}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">{{'general.cancelButton' | translate}}</button>
        <button type="button"
                [disabled]="filterForm.invalid || creatingRepository"
                class="btn btn-dark btn-sm" (click)="createRepository()">{{'general.createButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>


