<!--<h2 class="mb-3 ml-2">Repositorios</h2>-->

<div class="row mt-3" *ngIf="!!repositoriesToShow">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-5 col-xl-2 checks-container">
    <div class="mb-3 check-global-container">
      <div class="check-container">
        <p class="filter-title">Tipo</p>
        <div class="custom-control custom-checkbox" *ngFor="let lenguage of languages">
          <input (change)="change()" type="checkbox" class="custom-control-input lenguages" [id]="lenguage"
                 [value]="lenguage">
          <label class="custom-control-label" [for]="lenguage">{{lenguage}}</label>
        </div>
      </div>
    </div>
    <div>
      <div class="check-container">
        <p class="filter-title">Acceso</p>
        <div class="custom-control custom-checkbox">
          <input (change)="change($event)" type="checkbox" class="custom-control-input" id="public">
          <label class="custom-control-label" for="public">Público</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input (change)="change($event)" type="checkbox" class="custom-control-input" id="private">
          <label class="custom-control-label" for="private">Privado</label>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 mt-3 col-sm-12 col-md-9 col-lg-9 col-xl-10 mt-3">
    <div class="add-button-container">
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addModal">Agregar Repositorio</button>
    </div>
    <div class="animated fadeIn fast cards-container">

      <div class="card card-content" *ngFor="let repo of repositoriesToShow">
        <!--<img class="card-img-top" [src]="materias[mat].imagen" [alt]="materias[mat].nombre">-->
        <div class="card-body">
          <a class="my-2 my-sm-0 card-title repository-link" [href]="repo.html_url"
             target="_blank">{{repo.name | uppercase}}</a>
          <p class="card-text" *ngIf="!repo.private">Acceso publico</p>
          <p class="card-text" *ngIf="repo.private">Acceso privado</p>
          <p class="card-text">{{repo.description}}</p>
          <p class="card-text">{{repo.language}}</p>
          <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
          <!--<button (click)="irLecciones(materias[mat].id)" type="button" class="btn boton btn-block" name="button">Lecciones</button>-->
        </div>
      </div>
    </div>
  </div>
</div>




<!--MODAL-->
<div class="modal fade" id="addModal" #childModal tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title" id="addModalLabel">Crear Repositorio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="filterForm" #form="ngForm">
          <div class="form-group">
            <label for="name-control">Nombre Repositorio</label>
            <input type="text"
                   class="form-control"
                   id="name-control"
                   formControlName="name"
                   aria-describedby="name-control-help"
                   placeholder="Nombre">
            <small id="name-control-help" class="form-text text-muted">
              Los grandes nombres de los repositorios son cortos y memorables.</small>
          </div>
          <div class="form-group">
            <label for="description-control">Descripción (opcional)</label>
            <input type="text"
                   class="form-control"
                   formControlName="description"
                   id="description-control"
                   placeholder="Descripción">
          </div>
          <div class="form-check">
            <input type="checkbox" formControlName="private" class="form-check-input" id="private-control">
            <label class="form-check-label" for="private-control">Repositorio Privado</label>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button"
                [disabled]="filterForm.invalid"
                class="btn btn-primary btn-sm" (click)="createRepository()">Crear</button>
      </div>
    </div>
  </div>
</div>


