.new-button-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-item-icon {
  cursor: pointer;
  color: #d75e6f;
}

.project-item-description {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.form-card {
  background-color: #f8f9fade;;
}

.project-item-textDescription {
  display: flex;
  flex-direction: column;
}

.update-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #d75e6f;
}

.spinner-container {
  display: flex;
  justify-content: end;
}
