.title-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
}

.new-button-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.alert-container {
  display: flex;
  justify-content: center;
}

.alert-content {
  text-align: center;
}

.projects-container {
  margin: 0 auto;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-item-icon {
  cursor: pointer;
  color: #d75e6f;
}

.project-item-description {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.form-card {
  background-color: #f8f9fade;;
}

.project-item-textDescription {
  display: flex;
  flex-direction: column;
}

.update-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #d75e6f;
}

.spinner-container {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 500px) {
  .new-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
