<div class="new-button-container mt-3 mr-1 mb-3">
  <button type="button" class="btn btn-light">Nuevo Proyecto</button>
</div>


<div class="projects-container w-100">
  <ul class="list-group">
    <div *ngFor="let project of projects">

      <!--DESCRIPTION LIST ITEM-->
      <li class="list-group-item project-item">
        <div class="project-item-description">
          <span>{{project.name}}</span>
          <span class="text-muted">{{project.body}}</span>
        </div>
        <i class="fas fa-pen project-item-icon" data-toggle="collapse" [attr.data-target]="'#' + project.name" aria-expanded="false" aria-controls="collapseExample"></i>
      </li>

      <!--COLLAPSE UPDATE - DELETE FORM-->
      <div class="collapse" [id]="project.name">
        <div class="card card-body">

          <div class="buttons-container">
            <button type="button" class="btn btn-danger btn-sm ml-1">Eliminar</button>
            <button type="button" class="btn btn-dark btn-sm">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>
